/**
 * Coloring text using named Algolia values. Allow various opacity settings.
 *
 * Example:
 *  .koromiko
 *  .bittersweet-50
 **/
@each $color in $colors {
  $name: nth($color, 1);
  $value: nth($color, 2);

  .#{$name} { color: $value }
  @for $opacity from 1 through 9 {
    .#{$name}-#{$opacity}0 {
      color: rgba($value, $opacity / 10); 
    }
  }
}

/**
 * Coloring background using named Algolia values. Allow for various opacity
 * settings
 **/
@each $color in $colors {
  $name: nth($color, 1);
  $value: nth($color, 2);

  .bg-#{$name} { background-color: $value }

  // Transparent background color
  @for $opacity from 1 through 9 {
    .bg-#{$name}-#{$opacity}0 {
      background-color: rgba($value, $opacity / 10); 
    }
  }
}

/**
 * Allow for colored bullets (> ) at the start of elements
 **/
@each $color in $colors {
  $name: nth($color, 1);
  $value: nth($color, 2);

  // Bullets
  .bullet-#{$name}:before { content: "> "; color: #{$value} }
}
