/**
 * When we need to show code in action, we often need to show screenshots or
 * screencasts. This class will still an element to make it look like a browser
 * window.
 **/
.fake-browser {
  padding: 46px 1px 1px 1px;
  background: #f7f7ff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    background: rgba(0, 0, 0, 0.12);
    display: block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    box-shadow: 30px 0 0 rgba(0, 0, 0, 0.12), 62px 0 0 rgba(0, 0, 0, 0.12);
  }
}
