/**
 * We have a few pre-defined gradient that we use more often than others. They
 * each have their own start and end color as well as an angle.
 *
 * For ease of use, we'll refer to them using the name of their predominant
 * color (like .bg-gradient-green or .bg-gradient-purple).
 **/
$gradients: (
  green       320deg  $shamrock      mix($shamrock,  $java),
  blue        256deg  $algolia-blue  $royal-blue,
  pink        256deg  $bittersweet   $radical-red,
  orange      256deg  $koromiko      $bittersweet,
  purple      269deg  #8e43e6        #b84592,
  light-blue  269deg  $algolia-blue  $java,
  dark        283deg  $deep-cove     $bunting
);

@each $gradient in $gradients {
  $name: nth($gradient, 1);
  $angle: nth($gradient, 2);
  $start: nth($gradient, 3);
  $end: nth($gradient, 4);

  // Base gradient
  .bg-gradient-#{""+$name} {
    background-image: linear-gradient($angle, $start, $end);
  }
  // Various opacity settings
  @for $i from 1 through 9 {
    .bg-gradient-#{""+$name}-#{$i}0 {
      background-image: linear-gradient($angle, rgba($start, $i / 10), rgba($end, $i / 10));
    }
  }

  // Inverted gradient
  .bg-gradient-#{""+$name}-inverted {
    background-image: linear-gradient($angle, $end, $start);
  }
  // Various opacity settings
  @for $i from 1 through 9 {
    .bg-gradient-#{""+$name}-inverted-#{$i}0 {
      background-image: linear-gradient($angle, rgba($end, $i / 10), rgba($start, $i / 10));
    }
  }
}

/**
 * We also have more regular gradient helpers, where one can choose any start
 * and end color
 **/
@each $start_color in $colors {
  $start_name: nth($start_color, 1);
  $start_value: nth($start_color, 2);

  // Gradients from one color to another
  @each $end_color in $colors {
    $end_name: nth($end_color, 1);
    $end_value: nth($end_color, 2);
    
    // We skip gradient that have the same start and end colors
    @if ($start_name != $end_name) {
      .gradient-#{$start_name}-to-#{$end_name} {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(104deg, $start_value, $end_value);
      }
    }
  }
}
