/**
 * Setting the height of an element to 0, basically hiding it
 **/
.h0 { height: 0; }

/**
 * Adding one more layer to the scale for those big elements
 **/
.h6 { height: $spacing-extra-extra-extra-extra-large; }


/**
 * Allow setting relative heights in increments of 5%
 **/
@for $i from 1 through 20 {
  $percent: $i * 5;
  .h-#{$percent} { height: #{$percent+"%"}; }
}

/**
 * Adding max-height for the basic scale
 **/
.max-h1 { max-height: $spacing-medium; }
.max-h2 { max-height: $spacing-large; }
.max-h3 { max-height: $spacing-extra-large; }
.max-h4 { max-height: $spacing-extra-extra-large; }
.max-h5 { max-height: $spacing-extra-extra-extra-large; }

/**
 * Allow setting max-height in percentage, by 5% increments.
 **/
@for $i from 1 through 20 {
  $percent: $i * 5;
  .max-h-#{$percent} { max-height: #{$percent+"%"}; }
}

/**
 * Adding min-height for the basic scale
 **/
.min-h1 { min-height: $spacing-medium; }
.min-h2 { min-height: $spacing-large; }
.min-h3 { min-height: $spacing-extra-large; }
.min-h4 { min-height: $spacing-extra-extra-large; }
.min-h5 { min-height: $spacing-extra-extra-extra-large; }

/**
 * Allow setting min-height in percentage, by 5% increments.
 **/
@for $i from 1 through 20 {
  $percent: $i * 5;
  .min-h-#{$percent} { min-height: #{$percent+"%"}; }
}
