/**
 * Allowing to add padding on every side in relative increments.
 **/
@for $i from 1 through 20 {
  $padding: $i * 5;
  $paddingPercent: "#{$padding}%";
  .pt-#{$padding} { padding-top:    $paddingPercent; }
  .pr-#{$padding} { padding-right:  $paddingPercent; }
  .pb-#{$padding} { padding-bottom: $paddingPercent; }
  .pl-#{$padding} { padding-left:   $paddingPercent; }
}
// }}}
