/**
 * Setting the width of an element to 0, basically hiding it
 **/
.w0 { width: 0; }

/**
 * Adding one more layer to the scale for those big elements
 **/
.w6 { width: $spacing-extra-extra-extra-extra-large; }


/**
 * Allow setting relative width in increments of 5%
 **/
@for $i from 1 through 20 {
  $width: $i * 5;
  .w-#{$width} { width: #{$width+"%"}; }
}

/**
 * Adding max-width for the basic scale
 **/
.mw1 { max-width: $spacing-medium; }
.mw2 { max-width: $spacing-large; }
.mw3 { max-width: $spacing-extra-large; }
.mw4 { max-width: $spacing-extra-extra-large; }
.mw5 { max-width: $spacing-extra-extra-extra-large; }

/**
 * Allow setting max-width in percentage, by 5% increments.
 **/
@for $i from 1 through 20 {
  $width: $i * 5;
  .mw-#{$width} { max-width: #{$width+"%"}; }
}

/**
 * Adding third and two-thirds for the max-width
 **/
.mw-third      { max-width: calc(100% / 3); }
.mw-two-thirds { max-width: calc(100% / 1.5); }
