// Uses font-awesome as a base
@import "../vendors/font-awesome/_variables";
$fa-font-path: "./fonts";
$fa-css-prefix: "icon";

@import "../vendors/font-awesome/_path";
@import "../vendors/font-awesome/_icons";

[class*=" icon-"],
[class^=icon-] {
  display: inline-block;
  font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

