h1.f1 Absolute positioning

h2.f2.mb3 .top

.bg-black-10.pb5.mb3
  .h5
    .flrnw.relative
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top-0 .top-0
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top-1 .top-1
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top-2 .top-2
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top-3 .top-3
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top-4 .top-4
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top-5 .top-5

.bg-black-10.pt5.mb3
  .h5.flcnw.flcab
    .fln.flrnw.relative
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top-0 .top-0
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top--1 .top--1
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top--2 .top--2
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top--3 .top--3
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top--4 .top--4
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.top--5 .top--5

h2.f2.mb3 .right

.bg-black-10.mb4.pr5
  .h5.flrnw.flrar
    .fln.flcnw.relative
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right-0 .right-0
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right-1 .right-1
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right-2 .right-2
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right-3 .right-3
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right-4 .right-4
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right-5 .right-5

.bg-black-10.mb4.pl5
  .h5.flrnw.flral
    .fln.flcnw.relative
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right-0 .right-0
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right--1 .right--1
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right--2 .right--2
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right--3 .right--3
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right--4 .right--4
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.right--5 .right--5

h2.f2.mb3 .bottom

.bg-black-10.pt5.mb4
  .h5.flcnw.flcab
    .flrnw.relative
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom-0 .bottom-0
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom-1 .bottom-1
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom-2 .bottom-2
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom-3 .bottom-3
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom-4 .bottom-4
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom-5 .bottom-5

.bg-black-10.pb5.mb3
  .h5
    .fln.flrnw.relative
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom-0 .bottom-0
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom--1 .bottom--1
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom--2 .bottom--2
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom--3 .bottom--3
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom--4 .bottom--4
      .fla.h1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.bottom--5 .bottom--5

h2.f2.mb3 .left

.bg-black-10.mb4.pl5
  .h5.flrnw.flral
    .fln.flcnw.relative
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left-0 .left-0
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left-1 .left-1
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left-2 .left-2
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left-3 .left-3
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left-4 .left-4
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left-5 .left-5

.bg-black-10.mb4.pr5
  .h5.flrnw.flrar
    .fln.flcnw.relative
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left-0 .left-0
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left--1 .left--1
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left--2 .left--2
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left--3 .left--3
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left--4 .left--4
      .fla.w1.bg-black-30
        .absolute.bg-blue.br2.pa2.white.nowrap.left--5 .left--5
