h1.f1 Margins

h2.f2.mb3 Automatic margins

p .mta, .mra, .mba and .mla will set auto margins on the specified side.

p Adding margins that way are a useful way to align elements to a specific side in a flexbox context

.bg-black-10.h4.flcnw.mb4
  .fln.mta.white.pa2.bg-blue .mta

.bg-black-10.h3.flrnw
  .fln.mla.white.pa2.flc.bg-blue .mla

p .mha can also be used to horizontally center an element that has a width defined

.bg-black-10
  .w5.white.pa2.bg-blue.mha .w5.mha

