@import "./version";

@import "./vendors/tachyons/tachyons";

.top-3 { top: var(--spacing-extra-large); }
.top-4 { top: var(--spacing-extra-extra-large); }
.top-5 { top: var(--spacing-extra-extra-extra-large); }
.right-3 { right: var(--spacing-extra-large); }
.right-4 { right: var(--spacing-extra-extra-large); }
.right-5 { right: var(--spacing-extra-extra-extra-large); }
.bottom-3 { bottom: var(--spacing-extra-large); }
.bottom-4 { bottom: var(--spacing-extra-extra-large); }
.bottom-5 { bottom: var(--spacing-extra-extra-extra-large); }
.left-3 { left: var(--spacing-extra-large); }
.left-4 { left: var(--spacing-extra-extra-large); }
.left-5 { left: var(--spacing-extra-extra-extra-large); }
// @import "./variables";
// @import "./functions";
//
// @import "./utils/absolute";
// @import "./utils/background";
// @import "./utils/borders";
// @import "./utils/code";
// @import "./utils/colors";
// @import "./utils/fake-browser";
// @import "./utils/flexbox";
// @import "./utils/fonts";
// @import "./utils/gradients";
// @import "./utils/grayscale";
// @import "./utils/height";
// @import "./utils/icons";
// @import "./utils/line-height";
// @import "./utils/margins";
// @import "./utils/overflow";
// @import "./utils/paddings";
// @import "./utils/placeholder";
// @import "./utils/rotate";
// @import "./utils/scales";
// @import "./utils/shadows";
// @import "./utils/visibility";
// @import "./utils/white-spaces";
// @import "./utils/widths";
